#map {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 15em;
  right: 0;
  z-index: 0;
  border: 2px solid black;
}
.list {
  position: absolute;
  z-index: 1;
  margin-top: 5em;
}
.option {
  margin-top: 1em;
}
ul li {
  list-style: none;
  cursor: pointer;
}
.kep {
  width: 200px;
  height: 200px;
}

p {
  font-size: 2em;
  font-family: cursive;
  text-shadow: 1px 2px black;
}
.szoveg {
  font-family: fantasy;
  font-size: 1.2em;
}
.text {
  display: block;
}
.hide {
  display: none;
}
